{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="width: 50%; margin: auto;">
    <form method="post">
        <!-- {{form|crispy}} -->
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
        <p>{{er}}</p>
        {% endfor %}
        {% endif %}
        {% for fr in form %}
        {{fr.label_tag}}
        {{fr}}
        {{fr.errors|striptags}}
        {% endfor %}
        <br>
        <button class="btn btn-primary" type="submit"> create change </button>
    </form>
</div>
<!-- <div>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
            {{ er }}
        {% endfor %}
          
        {% endif %}
        {{form}}
        <br>
        <button class="btn btn-primary" type="submit"> create change </button>
    </form>
</div> -->
{% endblock content %}